.noticias-main  {
  height: calc(100vh - 224px) !important;
  padding-top: 50px
}
.mt-x {
  margin-top: 55px
}
.noticias-main.v-card, .noticias-main .v-list {
    background-color: #000;
    border-color: #000;
    color: #fff;
}
.noticias-main .v-list__tile__content {
  border-left: solid 4px white;
  padding-left: 15px;
  background-color: #000;
  border-color: #000;
  color: #fff;
}
.v-tabs__item {
  font-size: 12px;
}
.v-tabs__item .v-icon {
  font-size: 20px;
}
.tabs-informe .v-tabs__bar {
  background-color: transparent
}
.full-height {
  height: calc(100vh - 55px)
}
.v-tabs .full-height {
  height: calc(100vh - 127px)
}
table.v-table tbody td, table.v-table thead th{
  padding: 0 8px !important
}
.btn-big {
  font-size: 17px;
  font-weight: 600;
  height: auto;
  padding: 25px 25%;
  margin: 0;
}
.btn-big .v-btn__content {
  justify-content: flex-start !important
}
.application {
    font-family: Open-sans,sans-serif;
}
.nav-header {
  display: block;
  font-size: 16px;
  padding: 10px 0 0 35px
}
.nav-subheader {
  display: block;
  font-size: 12px;
  opacity: .6;
  padding: 0 0 15px 35px
}
#login {
  height: 100vh;
  overflow: hidden;
}
@media (min-width: 600px) {
.carousel-promo, .carousel-promo .v-responsive.v-image.v-carousel__item  {
  height: 100vh !important;
}
.btn-big {
  font-size: 15px;
  height: auto;
  padding: 25px;
  margin: 0;
}
}
.cupon-codigo {
  padding: 5px;
  border:solid 1px white;
  font-size: 30px;
  letter-spacing: 2px
}
.login-logo {
  height: calc(100vh - 405px) !important;
}
.login-logo div {
  transition: all ease .5s;
}
.opaco {

  opacity: .3
}
.fixed-bottom {
  position: fixed;
  bottom: 0
}
.headcol-fixed {
  position:absolute;
	width:2em;
	left:0;
}
