<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="10005" id="com.treemind.guemesApp" version="1.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Adiestro</name>
    <description>
    App de adiestro
  </description>
    <author email="info@treemind.com.ar" href="http://treemind.com.ar">
    TreeMind Team
  </author>
    <icon density="mdpi" platform="android" src="res/icon/android/icon-72-hdpi.png" />
    <content src="dist/index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="whatsapp:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="StatusBarBackgroundColor" value="#671414" />
        <config-file parent="./application/activity" target="AndroidManifest.xml">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="guemesrepublica.com.ar" android:scheme="http" />
            </intent-filter>
        </config-file>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="StatusBarBackgroundColor" value="#671414" />
    </platform>
    <preference name="Orientation" value="portrait" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:host="guemesrepublica.com.ar" android:scheme="http" />
    </intent-filter>
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-wizviewmanager" spec="https://github.com/Wizcorp/cordova-plugin-wizviewmanager" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-custom-config" spec="^5.0.2" />
    <plugin name="com.napolitano.cordova.plugin.intent" spec="https://github.com/napolitano/cordova-plugin-intent" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.1.1" />
</widget>
